$dark-blue: #222222;
$pink: #F1E4E6;
$dark-pink: #F16D7F;
$offers-img: #5d524e;
$grey: #5D5D5D;
$features_background: #222224;
$registration_bacground: #F8F3F4;

$desktop-width: 1600px;
$tablet-width: 768px;
$mobile-width: 500px;