@import './reset';
@import './general';
@import './variables';
@import './mixins';
@import './blocks/header';
@import './blocks/mainPage/brand';
@import './blocks/mainPage/offers';
@import './blocks/mainPage/catalog';
@import './blocks/mainPage/features';
@import './blocks/mainPage/subscribe';

footer{
    background-color: var(--features_background);
}

.footer_content{
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright{
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: #f8f8f8;
}

.socMedia_back{
    fill: white;
    transition: 0.2s all linear;
}

.socMedia_main{
    fill: black;
    transition: 0.2s all linear;
}

.socMedia:hover .socMedia_back{
    fill: var(--dark-pink);
}

.socMedia:hover .socMedia_main{
    fill: white;
}

.registration_intro{
    background-color: var(--registration_bacground);
    width: 100%;
}

.registration_intro_wrapper{
    display: flex;
    align-items: center;
    min-height: 148px;
}

.registration_intro_title{
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    color: var(--dark-pink);
}

.registration_content{
    padding-top: 64px;
    padding-bottom: 96px;
}

.registration_content_wrapper{
    display: flex;
    justify-content: space-between;
}

.registration_content_wrapper_form{
    width: 360px;
}

fieldset legend{
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
}

.text_input{
    width: 360px;
    margin-top: 20px;
    height: 45px;
    border: 1px solid #A4A4A4;
    padding: 15px;
    font-size: 13px;
    font-weight: 400;
    line-height: 15.6px;
    display: block;
}

.registration_content_wrapper_form_gender{
    margin: 30px 0;
    display: flex;
    align-items: center;
    margin-left: 19px;
}

.radio_input{
    display: none;
}

.gender_label{
    font-size: 11px;
    font-weight: 400;
    line-height: 13.2px;
    margin-right: 39px;
    position: relative;
}

.gender_label:before{
    content: '';
    position: absolute;
    left: -19px;
    top: -8%;
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url("../img/selection_unchecked.png") center center/cover no-repeat;
}

.radio_input:checked+.gender_label:before{
    background: url("../img/selection_checked.png") center center/cover no-repeat;
}

.registration_content_wrapper_form_login_text{
    margin-top: 15px;
    font-size: 13px;
    font-weight: 400;
    line-height: 15.6px;
    color: #B1B1B1;
}

.registration_content_wrapper_form_btn{
    padding: 16px 29px;
    margin-top: 39px;
    border: none;
    background-color: var(--dark-pink);
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
}

.registration_content_wrapper_form_btn i{
    margin-left: 20px;
}

.registration_content_wrapper_form_btn:hover{
    opacity: 0.5;
}

.registration_content_wrapper_descr{
    width: 652px;
}

.registration_content_wrapper_descr_title{
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    margin-bottom: 22px;
}

.registration_content_wrapper_descr_text{
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    margin-bottom: 21px;
}

.registration_content_wrapper_descr_features{
    list-style-type: none;
    margin-left: 50px;
}

.registration_content_wrapper_descr_features_item{
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    margin-bottom: 16px;
    position: relative;
}

.registration_content_wrapper_descr_features_item:before{
    content: '';
    width: 20px;
    height: 16px;
    background: url("../img/check.svg") center center/cover no-repeat;
    display: inline-block;
    position: absolute;
    top: 7px;
    left: -50px;
}