.header{
    background-color: $dark-blue;

    &_wrapper{
        min-height: 75px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    &_controls{
        display: flex;
        align-items: center;
        gap: 40px;
    }
    
    &_btn{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    
    &_navbar{
        position: absolute;
        right: 0;
        background-color: #fff;
        padding-top: 2%;
        padding-left: 2%;
        padding-right: 6%;
        box-shadow: -5px 5px 5px 2px $grey;
        transform: scaleY(0);
        transition: all linear .5s;
        @include tablet{
            padding-right: 10%;
        }
        @include mobile{
            padding-right: 15%;
        }

        &.active{
            transform: scaleY(100%);
            transition: all linear 0.5s;
        }
        
        &_closer{
            position: absolute;
            top: 16px;
            right: 16px;
            cursor: pointer;

            path{
                fill: $grey;
                transition: all linear .5s;
            }

            &:hover{
                path{
                    fill: $dark-pink;
                }
            }
        }

        &_title{
            @include font(14px, 17px, 700);
        }

        &_list{
            margin-top: 24px;
            &_item{
                margin-bottom: 20px;
                &_title{
                    @include font(14px, 17px);
                    color: $dark-pink;
                }
                &_innerList{
                    padding-left: 20px;
                    &_item{
                        margin-top: 12px;
                        a{
                            @include font(14px, 17px);
                            text-decoration: none;
                            color: #6F6E6E;
                            transition: all linear .5s;
                            &:hover{
                                color: $dark-pink;
                            }                            ;
                        }
                    }
                }
            }
        }

        &:before{
            content: '';
            width: 100px;
            height: 764px;
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
}

.loupe_icon path, .burger_icon path, .user_icon path, .buy_icon path{
    fill: #fff;
}

.loupe_icon:hover path, .burger_icon:hover path, .user_icon:hover path, .buy_icon:hover path{
    fill: $dark-pink;
    transition: 0.5s;
}

@media (max-width: 768px){
    .header_logo{
        margin-right: 18px;
    }
}

@media (max-width: 375px){
    .buy_icon{
        display: none;
    }
}